<!DOCTYPE html>
<html>
<head>
	<title>Student data</title>
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
  <h1>Student data site</h1>
<table>
  <tr>
    <th>Student Name</th>
    <th>Email Address</th>
    
  </tr>


   {% for data in studentdata %}

  <tr>
    <td>{{ data.student_name }}</td>
    <td>{{ data.email_address }}</td>
    
  </tr>
  {% endfor %}
</table>



  
 
</body>
</html>